

<%= stylesheet_link_tag 'user.css' %>
<br><br><br>
<% @blogs.each do |blog| %>
<!-- Page Content -->
 
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <div class="card mb-4 fixed">    
        <div class="card-body">  
          <h2 class="card-title"><%= blog.title %></h2>
          <p class="card-text"><%= blog.description %></p>
          <a href="/blogs/<%= blog.id %>" class="btn btn-primary">Show &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on <%=blog.created_at.strftime("%-b %-d,%Y: %H:%M  %p") %> by
          <a href="#"><%= blog.user.first_name %></a>
          <% if current_user %>
          <% @user=User.find(current_user.id) %>
          <% @already_liked = Like.where(user_id: @user.id, blog_id:blog.id).exists? %>
          <% if @already_liked %>
          <a href="/blogs/<%= blog.id %>/likes" value="Like" method="post" style='font-size:32px;color: blue;' >
            <%= fa_icon "heart", class:'icon' %> 
            <%= blog.likes.count %> <%= (blog.likes.count) == 1 ? 'Like' : 'Likes'%>
          </a>
            

             <% flash.each do |type, msg| %>
              <div class="alert alert-info">
                 <%= msg %>
              </div>
            <% end %>
          <% else %>
          <a href="/blogs/<%= blog.id %>/likes"  value="Like" method="post" style="color: blue;font-size:32px;" >
              <%= fa_icon "heart-o", class:'icon' %>
              <%= blog.likes.count %> <%= (blog.likes.count) == 1 ? 'Like' : 'Likes'%>
          </a>
        
          <% end %>
          <% else %>
            <%= fa_icon "heart", class:'icon' %>
             <%= blog.likes.count %> <%= (blog.likes.count) == 1 ? 'Like' : 'Likes'%>
           </i> 
          <% end %>
          <a href="/blogs/<%= blog.id %>" style="color: blue;font-size:32px;">
              <%= fa_icon "comment", class:'icon' %>
              <%= blog.comments.count %> <%= (blog.comments.count) == 1 ? 'Comment' : 'Comments'%>
            </i> 
          </a>
         

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


