<!DOCTYPE html>
<html>
<head>
  <title>Codingtest</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= yield :javascript_includes %>
</head>

<body>
  <% if current_user %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/blogs" style="color: #17a2b8">K-Blogs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/blogs/new" style="color: #17a2b8">New
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs/list" style="color: #17a2b8">My blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-method="delete" href="/users/sign_out"  style="color: #17a2b8">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% else %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/blogs" style="color: #17a2b8">K-Blogs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users/sign_in" style="color: #17a2b8">Login
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs" style="color: #17a2b8">All Blogs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
  <!-- Footer -->
  
  </html>
